!!! 5
%html{:manifest => "sb.appcache"}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %link{:rel => "stylesheet", 
          :type => "text/css",
          :href => "stylesheets/jquery.mobile.min.css"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.mobile.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/handlebars.js"}
    %script{:type => "text/javascript", :src => "javascripts/env.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}

/ main page: categories
#main{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h4 Categories
    %a#start-quiz-btn{"data-role" => "button",
                  "data-theme" => "b"}
      Begin

  #categories{"data-role" => "controlgroup"}

  %div{"data-position" => "fixed",
       "data-role" => "footer"}
    %a#load-spreadsheets{"data-role" => "button",
                         :href => "#spreadsheet-list"}
      Load Data
/ end categories

/ quiz page
#quiz{"data-role" => "page"}
  %div{"data-role" => "header"}
    %a{:href => "#main", 
       "data-icon" => "home",
       "data-role" => "button", 
       "data-direction" => "reverse"} Back
    %h4 
      %span#question-count

  #content

/ end quiz

/ data loading page
#spreadsheet-list{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h4 Choose a Spreadsheet

  %ul#spreadsheets{"data-role" => "listview"}

/ end data loading page

/ templates
%script#category-list-template{:type => "text/x-handlebars-template"}
  {{#each this}}
  %li
    %input{:type => "checkbox", 
           :name => "checkbox-{{index}}", 
           :id => "checkbox-{{index}}",
           :index => "{{index}}"}
    %label{:for => "checkbox-{{index}}"} {{name}}
  {{/each}}

%script#question-template{:type => "text/x-handlebars-template"}
  %div{"data-content-theme" => "c", "data-role" => "collapsible"}
    %h3.question {{question}}
    %h3.answer {{answer}}

    %div#buttons{"data-role" => "controlgroup"}
      %a#next-question-btn{"data-icon" => "arrow-r", "data-role" => "button"} 
        Next
      %a#got-it-btn{"data-icon" => "check", "data-role" => "button"} 
        Got It!
      %a#shuffle-btn{"data-icon" => "refresh", "data-role" => "button"} 
        Shuffle

%script#spreadsheet-list-template{:type => "text/x-handlebars-template"}
  {{#each this}}
  %li
    %a{"remote-url" => "{{first link attr=\"href\"}}"} {{title/$t}}
  {{/each}}
