!!! 5
%html
  %head
    %script{:type => "text/javascript", :src => "javascripts/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.mobile.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}
