!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %link{:rel => "stylesheet", 
          :type => "text/css",
          :href => "stylesheets/jquery.mobile.min.css"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.mobile.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/handlebars.js"}
    %script{:type => "text/javascript", :src => "javascripts/env.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}

#main{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h4 Categories

  #categories{"data-role" => "controlgroup"}
    %p
      No data loaded.

  %a#start-quiz-btn{"data-role" => "button",
                    "data-icon" => "arrow-r",
                    "data-transition" => "slide",
                    "data-theme" => "b"}
    Start Studying

  %a#load-spreadsheets{"data-role" => "button",
                       "data-icon" => "arrow-r",
                       "data-theme" => "e",
                       "data-transition" => "slide",
                       :href => "#spreadsheet-list"}
    Load Data

  %div{"data-position" => "fixed",
       "data-role" => "footer"}
    %a#help{"data-role" => "button",
            "data-icon" => "info",
            "data-transition" => "slidedown",
            :href => "#help"}
      Help!

#no-data{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      Welcome
  %div{"data-role" => "content"}
    %p
      We couldn't find any saved data. Want to load a spreadsheet from your google docs account? 
    %a#load-data{:href => "#spreadsheet-list",
                 "data-transition" => "slideup",
                 "data-role" => "button"}
      Load Data
    %p
      Or maybe this is your first time using Study Buddy and you'd like some help?
    %a#help{:href => "#help",
            "data-transition" => "slideup",
            "data-role" => "button"}
      Help Me!

#help{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      Help
  %p
    Welcome to Study Buddy! This is designed to be a super simple, mobile friendly study app to help you memorize things quickly. Here's how to get started:

  %ol
    %li
      Study Buddy uses google spreadsheets that you create as it's data source. The first step is to create a new spreadsheet in your google docs account (seriously you don't have one yet?? Click the button below to sign up. It's free!).
    %li
      Type your questions in the first column of the spreadsheet and your answers in the second column of the spreadsheet next to the questions. Easy, right? Beats the hell out of making flash cards!
    %li
      If you are studying multiple "categories" of stuff, simply create a new worksheet for each category. Make sure to name the worksheets so you can track them down in Study Buddy.
    %li
      Click "Load Data" when you start the app. Login to your google account and choose your new spreadsheet from the list.
    %li
      You'll now be presented with a list containing all of the workseets (aka categories) that you just created. Nice! Choose the categories you'd like to quiz yourself on and press begin to start the adventure... ok, not gonna lie, studying blows, but whatever... try to have fun!
    %li
      Oh yeah, study buddy caches your questions/answers locally, so you only have to load in new data if you change things or clear your browser cache. Word.
  %strong
    Use these links to get started:
  %a{:href => "http://docs.google.com",
              "data-theme" => "b",
              "data-role" => "button"}
    Go to Google Docs
  %a{:href => "#spreadsheet-list",
              "data-transition" => "slide",
              "data-theme" => "e",
              "data-role" => "button"}
    Load existing data

#quiz{"data-role" => "page"}
  %div{"data-role" => "header"}
    %a{:href => "#main",
       "data-icon" => "home",
       "data-role" => "button", 
       "data-direction" => "reverse"} Back
    %h4 
      %span#question-count
    %a#flip-data{"data-role" => "button"} Flip

  #content

#spreadsheet-list{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h4 Spreadsheets

  %ul#spreadsheets{"data-role" => "listview"}

#quiz-complete{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      Nice job!
  %div{"data-role" => "content"}
    %h2
      Quiz complete.
    %a{:href => "#main",
       "data-transition" => "flip",
       "data-role" => "button"}
      Start Over?

#error{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      Error
  %div{"data-role" => "content"}
    %p#error-msg
    %a{:href => "#",
       "data-rel" => "back",
       "data-role" => "button"}
      Ok

%script#category-list-template{:type => "text/x-handlebars-template"}
  {{#each this}}
  %li
    %input{:type => "checkbox", 
           :name => "checkbox-{{index}}", 
           :id => "checkbox-{{index}}",
           :index => "{{index}}"}
    %label{:for => "checkbox-{{index}}"} {{name}}
  {{/each}}

%script#question-template{:type => "text/x-handlebars-template"}
  %div{"data-content-theme" => "c", "data-role" => "collapsible"}
    %h3.question {{question}}
    %h3.answer {{answer}}

    %div#buttons{"data-role" => "controlgroup"}
      %a#next-question-btn{"data-icon" => "arrow-r", "data-role" => "button"} 
        Next
      %a#got-it-btn{"data-icon" => "check", "data-role" => "button"} 
        Got It!
      %a#shuffle-btn{"data-icon" => "refresh", "data-role" => "button"} 
        Shuffle

%script#spreadsheet-list-template{:type => "text/x-handlebars-template"}
  {{#each this}}
  %li
    %a{"remote-url" => "{{first link attr=\"href\"}}"} {{title/$t}}
  {{/each}}
