!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:rel => "stylesheet", 
          :type => "text/css",
          :href => "stylesheets/jquery.mobile.min.css"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.mobile.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/handlebars.js"}
    / bootstrap data
    %script{:type => "text/javascript", :src => "javascripts/data.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}

/ main page: categories
#main{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h4 Categories

  #categories{"data-role" => "controlgroup"}

  %div{"data-position" => "fixed",
       "data-role" => "footer"}
    %a#begin-quiz{"data-role" => "button",
                  :href => "#quiz"}
      Begin
/ end categories

/ quiz page
#quiz{"data-role" => "page"}
  %div{"data-role" => "header"}
    %a{:href => "#main", 
       "data-icon" => "home",
       "data-role" => "button", 
       "data-direction" => "reverse"} Back
    %h4 
      %span#question-count

  #content

  %div{"data-position" => "fixed",
       "data-role" => "footer"}
    %a{"data-icon" => "refresh",
       "data-role" => "button"} 
      Shuffle
    %a{"data-icon" => "check",
       "data-role" => "button"} 
      Got It!
    %a{"data-icon" => "arrow-r",
       "data-role" => "button"} 
      Next Question
      
/ end quiz

/ templates
%script#category-list-template{:type => "text/x-handlebars-template"}
  {{#each this}}
  %li
    %input{:type => "checkbox", 
           :name => "checkbox-{{index}}", 
           :id => "checkbox-{{index}}",
           :index => "{{index}}"}
    %label{:for => "checkbox-{{index}}"} {{name}}
  {{/each}}

%script#question-template{:type => "text/x-handlebars-template"}
  %div{"data-role" => "collapsible"}
    %h3.question {{question}}
    %p.answer {{answer}}
